body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #e3f2fd, #f9f9f9);
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #0d47a1;
}

h2 {
  text-align: center;
  color: #333;
}

form {
  background: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
  
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;

  width: 100%;
  box-sizing: border-box
}

button {
  padding: 12px;
  border: none;
  background: #1976d2;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0d47a1;
}

#listaContainer {
  max-width: 600px;
  margin: 20px auto;
}

#listaContainer div {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  border-left: 5px solid #1976d2;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}